section div p {
    
    font-family: sans-serif;
    color: black;
    font-size: 50px;
    
}
p, span, a {
    font-family: sans-serif;
    color: black;
    font-size: 90px;
}


  
 
    
    body {
        
        font-family: Arial, sans-serif;
        background-color: #A5CCC1;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }