body{
    text-align: center;
    width: 1440px;    
    background-color: #A5CCC1;
    /* width: 100%;
    height: 100%; */
    display: flex;
    margin: 0 auto;    
}

section{
    width: 1440px;
}

.titulo-sobre-nos h1, p{
    margin: 20px 0px 20px 0px;
}

.titulo-sobre-nos h1{
    font-weight: 500;
    font-size: 24px;
}

.italico{
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
}

/* Estilização carrossel */

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden; /* mostrar apenas a 1ª imagem */    
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navegacao{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff; /* mudar cor */
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;/* tentar mudar cursor */
    transition: 1s;
}

.manual-btn:not(:last-child){ /* afastar os botões */
    margin-right: 40px;    
}

.manual-btn:hover{ /* ao passar mousse encima do botão muda a cor*/
    background-color: #fff;
}

#radio1:checked ~ .primeiro{
    margin-left: 0;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}

.auto-navegacao div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.auto-navegacao{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.auto-navegacao div:not(:last-child){
    margin-right: 40px;
}

/*o nosso label é radio1 igual do nosso input id radio1 por isso ele consegue fazer essa conexão*/
#radio1:checked ~ .auto-navegacao .auto-btn1{ 
    background-color: #fff;
}
#radio2:checked ~ .auto-navegacao .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .auto-navegacao .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .auto-navegacao .auto-btn4{
    background-color: #fff;
}
/* Fim Estilização carrossel */

.nossa-historia h2, .nosso-objetivo h2{
    font-weight: 500;
    font-size: 22px;
    display: flex;
}

.nossa-historia p, .nosso-objetivo p{
    font-weight: 500;
    font-size: 15px;
    display: flex;
    /* align-self: center; */
}

.nossa-historia {
    display: flex;
    flex-direction: row;    
    gap: 20px;    
    box-sizing: border-box;
    margin-top: 20px;
}

.nossa-historia-texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 20px;
    line-height: 35px;
}

.nossa-historia-imagem img{
    width: 700px;
    height: 400px;
    padding: 20px;
  }

  .nosso-objetivo{
    display: flex;
    flex-direction: row;    
    gap: 20px;    
    padding: 20px;
    line-height: 35px;
}

.nossa-historia-imagem img{
    width: 700px;
    height: 400px;
    padding: 20px;
  }
  
  .nosso-objetivo{
    display: flex;
    flex-direction: row;    
    gap: 20px;    
    box-sizing: border-box;
    margin-top: 10px;   
}


  .nosso-objetivo-texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 20px;
    line-height: 35px;
  }
  
  .nosso-objetivo-imagem img{    
    width: 700px;
    height: 400px;
    padding: 20px;
  }

  .inscricao-newsletter h1{
    font-weight: 500;
    font-size: 22px;
  }
  .inscricao-newsletter p{
    font-weight: 500;
    font-size: 15px;
  }
    
.formulario-email{
    /* width: 100%;
    max-width: 550px;    */
    position: relative;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.assinatura-email input{
    width: 600px;
    /* max-width: 750px;    */
    border: none; /* Sem borda */
    outline: none;
    box-shadow: none;
    padding: 20px 24px;
    font-size: 15px;
    background-color: #f0f0f0;
    border-radius: 25px;
}
  
.botao-enviar{
    position: absolute;
    cursor: pointer;
    right: 430px;   
    border: none;    
    background-color: #F4CECE;
    border-radius: 40px;
    padding: 7px;
    width: 40px;
    height: 40px;   
} 

.assinatura-newsletter-rodape{
    font-size: 12px;
}

